<div class="container-md">
  <div class="row g-2">
    <div class="col-md">
      <div class="form-floating">
        <input type="text" class="form-control" id="fName" placeholder="Your Name" [(ngModel)]="MyProfile.first_name">
        <label for="fName">Email address</label>
      </div>
    </div>
    <div class="col-md">
      <div class="form-floating">
        <input type="text" class="form-control" id="lName" placeholder="Your Surname" [(ngModel)]="MyProfile.last_name">
        <label for="lName">Password</label>
      </div>
    </div>
  </div>
</div>

<div class="container-md">
  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">ACTION</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let profile of Profiles">
        <td scope="row">{{ profile.id }}</td>
        <td>{{ profile.first_name }}</td>
        <td>{{ profile.last_name }}</td>
        <td class="d-grid gap-2 d-md-block">
            <button type="button" class="btn btn-outline-success d-grid gap-2 d-md-block" (click)="open(content); SelectedProfile=profile">Edit</button> 
            <button type="button" class="btn btn-outline-danger d-grid gap-2 d-md-block" (click)="DeleteProfile(profile.id)">DELETE</button>
        </td>
        
      </tr>
    </tbody>
  </table>

  <button class="btn btn-primary" (click)="SaveProfile()">Save</button>
</div>



<!-- Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">

      <div class="mb-3">
        <label for="firstName" class="form-label">First Name: </label>
        <input id="firstName" class="form-control" type="text" placeholder="First Name"
          [(ngModel)]="SelectedProfile.first_name">
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name: </label>
        <input id="lastName" class="form-control" type="text" placeholder="Last Name"
          [(ngModel)]="SelectedProfile.last_name">
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.close('Cancel')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="UpdateProfile()">Update</button>
  </div>
</ng-template>
